# Virtual environments
.venv/
venv/
env/

# Python bytecode / build artifacts
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
build/
dist/

evaluation/
output/

.cache/

.git/
.gitignore

.DS_Store
.vscode/
.idea/

# Docs
docs/

# Docker files themselves
Dockerfile
.dockerignore
docker-compose.yml
